@model IEnumerable<TrashCollector2._0.Models.ApplicationUser>
@{
    ViewBag.Title = "ViewDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here is a list of today's Pick Ups</h2>

@if(!Model.Any())
{
    <p>There are no pick ups today.</p>
}
else
{
    <table class="table table-bordered table-hover" style="margin-top: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpOptionId)
            </th>
        </tr>
        @foreach (var customer in Model)
        {
            if (customer.Address != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.PickUpOptionId)
                    </td>
                </tr>
            }


        }

    </table>
}

